.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;

    padding-block: 2rem;

    a {
        font-size: 3.6rem;
    }

    .auth {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
