.button {
    --icon-size: 1.2em;

    background-color: var(--backgronud-color-idle);
    color: var(--foreground-color-idle);

    position: relative;

    border: none;
    border-radius: var(--border-radius);

    padding: var(--form-element-padding);

    transition-property: background-color, color;
    transition-delay: var(--color-primary);

    cursor: pointer;

    .icon {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: var(--form-element-padding-inline);

        font-size: var(--icon-size);

        translate: 0 -50%;
    }

    &:has(.icon) {
        --gap: 0.5em;

        padding-inline: calc(var(--form-element-padding-inline) + var(--icon-size) + var(--gap));
    }

    &:hover {
        background-color: var(--backgronud-color-hover, var(--backgronud-color-idle));
        color: var(--foreground-color-hover, var(--foreground-color-idle));
    }

    &:focus-visible {
        outline: var(--outline-focus-visible);
    }

    &.rounded {
        border-radius: 999rem;
    }

    &.basic {
        --backgronud-color-idle: var(--color-gray-30);
        --foreground-color-idle: var(--color-gray-90);

        --backgronud-color-hover: var(--color-gray-36);
    }

    &.primary {
        --backgronud-color-idle: var(--color-primary);
        --foreground-color-idle: var(--color-primary-opposite);

        --backgronud-color-hover: var(--color-primary-lighter);
    }

    &.ghost {
        --backgronud-color-idle: trasnparent;
        --foreground-color-idle: inherit;

        --form-element-padding: 0;
    }

    &.link {
        --backgronud-color-idle: transparent;
        --foreground-color-idle: var(--color-primary);

        display: inline;

        --form-element-padding: 0;

        text-decoration: underline;
    }

    &.large {
        font-size: 1.8rem;
        font-weight: 700;
    }
}
