.home-page {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;

        padding-block: 12rem;

        .text {
            h1 {
                margin-block-end: 2rem;

                line-height: 1;

                .subtitle {
                    font-size: 3.6rem;
                    font-weight: 400;
                }

                .title {
                    color: var(--color-gray-98);

                    font-size: 8.4rem;
                    font-weight: 700;

                    letter-spacing: 0.25rem;

                    text-transform: uppercase;

                    .size-matters {
                        color: var(--color-primary);
                    }
                }
            }

            .description {
                color: var(--color-gray-70);

                max-inline-size: 40ch;

                margin-block-end: 8rem;

                font-size: 2rem;
            }

            .suggestion {
                color: var(--color-gray-70);

                margin-block-end: 4rem;

                font-size: 1.8rem;

                strong {
                    color: var(--color-primary);

                    font-size: 2.4rem;
                    font-weight: 700;

                    text-transform: uppercase;
                }
            }
        }

        .image {
            display: grid;

            img {
                justify-self: end;

                inline-size: 80%;
                block-size: auto;
            }
        }
    }
}
