.generator-list-component {
    display: grid;
    gap: 2rem;

    > li {
        background-color: var(--color-gray-16);

        display: grid;
        grid-template-areas: "alias buttons" "original original";
        grid-template-columns: 1fr auto;
        gap: 1rem;

        padding: 2rem;

        border-radius: var(--border-radius);

        .alias {
            grid-area: alias;

            font-size: 2.8rem;
            font-weight: 700;
        }

        .buttons {
            grid-area: buttons;

            display: flex;
            align-items: center;
            gap: 1rem;

            .copy {
            }
        }

        .original {
            grid-area: original;

            font-size: 1.8rem;
        }
    }
}
